
h1, h2, h3 {
	font-weight: normal;
}




*, *:before, *:after {
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Helvetica Neue',Arial,sans-serif;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	position: relative;
	color: #444;
}
header {
    min-height: 52rem;
}
header div {
    padding-top: 24rem;
	position: relative;
    display: flex;
    text-shadow: 0 0 3px rgba(0,0,0,.45);
    padding-right: 25%;
}
h1 {
	font-size: 6rem;
	color: #fff;
	margin: 0;
	line-height: 1.05;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 2.8rem;
}

.brand-primary {
	color: #93186c;
}
section {
    font-size: 2rem;
    margin-bottom: 4rem;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}
.flex-row {
    display: flex;
    justify-content: space-between;
}

.card {
	width: calc(33% - 3rem);
	background: #fff;
	box-shadow: 0 2px 1px -1px #ddd;
}
.card img {
	width: 100%;
}
.card-body {
    padding: 2rem;
    text-align: center;
}
.card h3 {
	font-size: 2.4rem;
}
.container {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
} 
.align-center {
	text-align: center;
}
.promo-block {
    padding: 10rem 0;
    color: #fff;
}